.home-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

.home-content {
  text-align: center;
  margin-bottom: 2rem;
  max-width: 600px;
}

.home-title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: inherit;
}

.home-subtitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: inherit;
}

.bg-box {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  backdrop-filter: blur(4px);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.home-links {
  margin-top: 1.5rem;
}

.home-link {
  margin: 0 0.5rem;
  color: #646cff;
  text-decoration: none;
  font-weight: 900;
}
.home-link:hover {
  color: #535bf2;
}

.home-logo-container {
  width: 400px;
  height: 400px;
}

@media (prefers-color-scheme: light) {
  .home-link {
    color: #646cff;
  }
  .home-link:hover {
    color: #747bff;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
